@inject NavigationManager navigation
@inject UserSettings userSettings
@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
@code {
    protected override void OnInitialized()
    {
        // Listen for changes in user settings
        userSettings.OnDarkModeChanged += OnDarkModeChanged;
    }

    private void OnDarkModeChanged(object? sender, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        userSettings.OnDarkModeChanged -= OnDarkModeChanged;
    }

    private string GetBackgroundStyle()
    {
        var staticBackgroundStyle = "min-height: 100vh; display: flex; justify-content: center; align-items: flex-start; " +
                                    "background-image: url('/images/FenrisApp.jpg'); background-size: contain; background-position: top; background-repeat: no-repeat;";
        var blendMode = userSettings.IsDarkMode ? "soft-light" : "darken";
        return $"{staticBackgroundStyle} background-blend-mode: {blendMode}; background-color: {userSettings.CurrentBackgroundColor};";
    }
}
